.wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .item {
    width: 230px;
    height: 230px;
    background-color: palevioletred
  }
h1 {
    color: palevioletred;
    text-align: center;
}